[submodule "components/spi_devices/lcd/Adafruit-GFX-Library"]
	path = components/spi_devices/lcd/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "components/ugfx_gui/ugfx"]
	path = components/ugfx_gui/ugfx
	url = https://git.ugfx.io/ugfx/ugfx.git
